<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="monitoring">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${LOKI_URL}</url>
                <auth>
                    <username>${LOKI_USERNAME}</username>
                    <password>${LOKI_PASSWORD}</password>
                </auth>
            </http>
            <format>
                <label>
                    <pattern>app=mindrevol-backend,host=${HOSTNAME},level=%level</pattern>
                </label>
                <message>
                    <pattern>l=%level c=%logger{20} t=%thread | %msg %ex</pattern>
                </message>
            </format>
            
            <batchSize>50</batchSize>
            <sendQueueMaxBytes>5000000</sendQueueMaxBytes> </appender>

        <root level="INFO">
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>
</configuration>